<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.iiuk.myiiuk"
        versionCode = "191" 
        version     = "1.1.15" >

    <name>IIUK</name>

    <description>
        Developed by Ismaili Council for the UK
    </description>

    <author href="http://www.iiuk.org" email="iiukadmin@iiuk.org">
        Ismaili Council for the UK
    </author>

    <preference name="phonegap-version" value="cli-7.0.1" />
<!--    <preference name='pgb-builder-version' value='2' /> -->
	<preference name="android-targetSdkVersion" value="26"/>
	<preference name="android-build-tool" value="gradle" />
	
	<platform name="android"/>
	<platform name="ios"/>
 	
<!--	  <plugin name="phonegap-plugin-push" source="npm" spec="2.0.0" /> -->
<plugin name="phonegap-plugin-push" spec="~1.10.5">
     <param name="SENDER_ID" value="123456789" />
</plugin>

	  
     <platform name="android">
	  <resource-file src="google-services.json" target="google-services.json" />
<!--	  <resource-file src="google-services.json" target="app/google-services.json" />-->
	</platform>
     
</widget>