<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.iiuk.myiiuk"
        versionCode = "15" 
        version     = "1.0.7" >

    <name>IIUK</name>

    <description>
        Developed by Ismaili Council for the UK
    </description>

    <author href="http://www.iiuk.org" email="iiukadmin@iiuk.org">
        Ismaili Council for the UK
    </author>

    <preference name="phonegap-version" value="cli-5.2.0" />

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:splash src="splash_iiuk.png" />

    <gap:splash src="icons_iiuk/Default.png"         gap:platform="ios" width="320" height="480" />
    <gap:splash src="icons_iiuk/Default@2x.png"      gap:platform="ios" width="640" height="960" />
    <gap:splash src="icons_iiuk/Default-568h@2x.png" gap:platform="ios" width="640" height="1136" />

    <icon src="icons_iiuk/mipmap-ldpi/ic_launcher.png" gap:platform="android" gap:density="ldpi" />
    <icon src="icons_iiuk/mipmap-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
    <icon src="icons_iiuk/mipmap-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
    <icon src="icons_iiuk/mipmap-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="icons_iiuk/mipmap-xxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxhdpi" />
    <icon src="icons_iiuk/mipmap-xxxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxxhdpi" />

    <icon src="icons_iiuk/icon.png" />
    <!-- iPhone 6 / 6+ -->
    <icon src="icons_iiuk/icon-60@3x.png" gap:platform="ios" width="180" height="180" />

    <!-- iPhone / iPod Touch  -->
    <icon src="icons_iiuk/icon-60.png" gap:platform="ios" width="60" height="60" />
    <icon src="icons_iiuk/icon-60@2x.png" gap:platform="ios" width="120" height="120" />

    <!-- iPad -->
    <icon src="icons_iiuk/icon-76.png" gap:platform="ios" width="76" height="76" />
    <icon src="icons_iiuk/icon-76@2x.png" gap:platform="ios" width="152" height="152" />

    <!-- Settings Icon -->
    <icon src="icons_iiuk/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="icons_iiuk/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="icons_iiuk/icon-small@3x.png" gap:platform="ios" width="87" height="87" />

    <!-- Spotlight Icon -->
    <icon src="icons_iiuk/icon-40.png" gap:platform="ios" width="40" height="40" />
    <icon src="icons_iiuk/icon-40@2x.png" gap:platform="ios" width="80" height="80" />

    <!-- iPhone / iPod Touch -->
    <icon src="icons_iiuk/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="icons_iiuk/icon@2x.png" gap:platform="ios" width="114" height="114" />

    <!-- iPad -->
    <icon src="icons_iiuk/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="icons_iiuk/icon-72@2x.png" gap:platform="ios" width="144" height="144" />

    <!-- iPhone Spotlight and Settings Icon -->    
    <icon src="icons_iiuk/icon-small.png" gap:platform="ios" width="29" height="29" />
    <icon src="icons_iiuk/icon-small@2x.png" gap:platform="ios" width="58" height="58" />
    <icon src="icons_iiuk/icon-40@3x.png" gap:platform="ios" width="120" height="120" />

    <!-- iPad Spotlight and Settings Icon -->
    <icon src="icons_iiuk/icon-Small-50.png" gap:platform="ios" width="50" height="50" />
    <icon src="icons_iiuk/icon-Small-50@2x.png" gap:platform="ios" width="100" height="100" />
    <icon src="icons_iiuk/icon-83.5@2x.png" gap:platform="ios" width="167" height="167" />

    <content src="index.html" />
    <preference name="permissions" value="none" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/notification" />
    
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="WebViewBounce" value="false" /> 	
    <preference name="prerendered-icon" value="false" /> 	
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="lightcontent" /> 
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="KeepRunning" value="true"/>
    <preference name="android-minSdkVersion" value="14" />
    <preference name="android-installLocation" value="auto" />
	<preference name="android-build-tool" value="gradle" />
	
	<!--<gap:plugin name="org.apache.cordova.media" />  -->
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.device-orientation" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.globalization" />
	<gap:plugin name="org.apache.cordova.inappbrowser" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<gap:plugin name="org.apache.cordova.vibration" />
	<gap:plugin name="org.apache.cordova.statusbar" />
	<gap:plugin name="de.appplant.cordova.plugin.email-composer"/>
	<gap:plugin name="net.bgta.phonegap.plugin.appversion" version="1.1.1" />
	<gap:plugin name="de.appplant.cordova.plugin.badge" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" version="2.4.0" />
	<plugin name="cordova-plugin-calendar" spec="4.5.0" source="npm" />

    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>