<ons-page ng-controller="ChildMenuController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{navigation.title}}</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <ons-list>
    <div id="ChildMenu_FP">
        <ons-list-item ng-repeat-start="nav in childNavigations"  
        ng-if="nav.type != '1'" ng-click="openPage(nav)">
        <i ng-class="{true:'fa',false:'fa fa-'+nav.icon}[nav.icon =='']"></i>
        {{nav.title}}
        </ons-list-item>

        <ons-list-header  ng-if="nav.type == 1">{{nav.title}}</ons-list-header>

        <ons-list-item ng-if="childNav.type == 2"
        ng-repeat-start="childNav in nav.children" ng-click="openPage(childNav)">
         <i ng-class="{true:'fa',false:'fa fa-'+childNav.icon}[childNav.icon =='']"></i>
         {{childNav.title}}
        </ons-list-item>

        <ons-list-item ng-repeat-end ng-if="childNav.type == 1"  modifier="chevron" ng-repeat-end ng-click="openPage(childNav)">
         <i ng-class="{true:'fa',false:'fa fa-'+childNav.icon}[childNav.icon =='']"></i>
         {{childNav.title}}
        </ons-list-item>

        <ons-list-item ng-repeat-end ng-show="false"></ons-list-item>
    </div>
    </ons-list>
</ons-page>

<!-- 

testing webSQL
update navigations set status=0,parent_id=6,type=2 where server_id in (9,10);
update navigations set status=0,type=1 where server_id =6; 

-->