 <ons-page ng-controller="DirectoryIndividualController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{individual.title}} {{individual.forename}} {{individual.Surname}}</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <ons-list class="list--inset" style="margin-top:10px;">
        <ons-list-item ng-show="individual.home_number">
        Home&nbsp;&nbsp;&nbsp;<a href="tel:{{individual.home_number | safePhone}}">{{individual.home_number}}</a>
        </ons-list-item>
        <ons-list-item ng-show="individual.mobile">
        Mobile&nbsp;&nbsp;<a href="tel:{{individual.mobile | safePhone}}">{{individual.mobile}}</a>
        </ons-list-item>
        <ons-list-item ng-show="individual.email">
        Email&nbsp;&nbsp;&nbsp;<a href="mailto:{{individual.email}}">{{individual.email}}</a>
        </ons-list-item>
        <ons-list-header ng-show="individual.committees">
        Committees
        </ons-list-header>
        <ons-list-item ng-show="individual.committees" ng-repeat="item in individual.committees" ng-click="openIndividual(item)">
        <p>{{item.title}}</p>
        </ons-list-item>

        <ons-list-item ng-show="!individual.committees && !individual.email && !individual.mobile && !individual.home_number">
        No More infomations.
        </ons-list-item>
    </ons-list>
</ons-page>

