<ons-page ng-controller="DirectoryListController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">{{dict.title}}</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div id="wrapper">
        <ons-list>
            <ons-list-item modifier="chevron" ng-click="OpenDirectoryDetail(item)"  ng-repeat="item in dicts track by $index" >
               <ons-col><span style="display:block;word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;">{{item.title}}</span>
                </ons-col>
            </ons-list-item>
            <ons-list-item style="text-align:center;" ng-show="!loadCompleted">
               <ons-col>
                    <i class="fa fa-spin fa-spinner fa-lg"></i> Loading...
                </ons-col>
            </ons-list-item>
        </ons-list>
    </div>
</ons-page>
