<ons-page class="theme-blue"  ng-controller="LoginController">
    <ons-toolbar>
        <div class="left">
        </div>
        <div class="center">Login</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div id="login_container" class="landingPage_logo">
        <img src="icons_iiuk/icon.png" id="loginPage_logo" />
        <div class="login_title"></div>

        <input type="text" class="text-input" id="loginUserName" placeholder="Email or username" ng-model="username" ng-show="isready">
        <input type="password" class="text-input" id="loginpwd" placeholder="Password" ng-model="password" ng-show="isready">
        <!--<ons-button ng-click="app.slidingMenu.toggleMenu()">
        Toggle Menu111
        </ons-button> 这一段时跳转到菜单的-->
        <button class="button button--large" id="btn_login" ng-init="" enabled="false" ng-click="login()" ng-show="isready">Login</button>
     
        <div class="login_content">
            This application is for <br />
            The Ismaili Community in the UK. <br />
            For assistance contact enquiries@iiuk.org <br />
            <a href="https://www.iiuk.org/Navigation/details.php?t=r">Forgotten Password?</a>
        </div>
        <div class="login_foot" id="footer">
            &copy; Copyright The Ismaili Council for the UK
        </div>
    </div>
</ons-page>