<ons-page ng-controller="MedicationController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Medicines</div>
        <div class="right">
            <ons-toolbar-button ng-show="initalCompleted" ng-click="myNavigator.pushPage('pages/medication.search.html');">
                <ons-icon icon="ion-plus" size="28px"></ons-icon>
            </ons-toolbar-button>
            <ons-toolbar-button ng-show="accept&&!initalCompleted">
                <i class="fa fa-spin fa-spinner fa-lg"></i>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list style="width:100%;">
        <ons-list-item class="list-medication" ng-repeat="item in data" modifier="chevron" ng-click="openEditMedication(item);">
            <ons-row>
                <ons-col>{{item.drug_name}}</ons-col>
            </ons-row>
            <ons-row>
                <ons-col>{{item.directions}}</ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <div ng-show="data.length == 0" style="height: 100%; display: -webkit-box; padding: 20px;text-align: center;padding-top: 100px;">
        <p>There are no medications currently listed, please click the plus icon to add a medication.</p>
    </div>
    <fixed-bar bottom="0" ng-show="data.length > 0">
        <ons-row class="footer-buttons">
            <ons-col>
                <ons-button modifier="large" ng-click="myNavigator.pushPage('pages/reminders.html')">Reminders</ons-button>
            </ons-col>
            <ons-col>
                <ons-button modifier="large" ng-click="myNavigator.pushPage('pages/schedules.html')">Schedules</ons-button>
            </ons-col>
        </ons-row>
    </fixed-bar>
</ons-page>
