<ons-page ng-controller="MedicationEditController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Edit Medication</div>
        <div class="right">
            <ons-toolbar-button ng-show="isEdit" ng-click="deleteUserMedication();">
                <ons-icon icon="fa-trash"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list>
        <ons-list-header>Name</ons-list-header>
        <ons-list-item style="line-height: 160%;">
            <span ng-show="!isNew"> {{drug_name}}</span>
            <span ng-show="isNew"><input type="text" name="drug_name" ng-model="drug_name" style="width: 100%;border: none;    height: 36px;"/></span>
        </ons-list-item>
        <ons-list-header>Description</ons-list-header>
        <ons-list-item style="padding:10px;">
            <textarea style="width:100%;height:200px;border: 1px solid #eee;" ng-model="directions"></textarea>
        </ons-list-item>
    </ons-list>
    <div style="padding:5px 10px;">
        <ons-button modifier="large" ng-click="addClicked($event)">
            <span ng-show="isEdit">Save</span>
            <span ng-show="!isEdit">Add</span>
        </ons-button>
    </div>
</ons-page>
