        <ons-page  ng-controller="MessageListController">
            <ons-toolbar id="BarborderBottom">
                <div class="left">
                    <ons-toolbar-button ng-click="menuClick()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
                </div>
                <div class="center" >{{nav.title}}</div>
            </ons-toolbar>
            <ons-list id="list-message" class="plan-list">
                <ons-list-item class="plan" ng-repeat="msg in messages" ng-click="openMessageDetail(msg,$event)" ng-show="msg.status<2">

                        <ons-row class="hide-del-btn">
                           
                            <ons-col width="30%"  class="plan-left">
                                <div class="plan-date" id="plan-date1" ng-bind-html="msg.last_modified | formatTime">
                                    
                                </div>
                            </ons-col>
                           
                            <ons-col width="2%" class="plan-center" ng-style="{ backgroundColor:msg.status==0 ? '#3399ff' : '#ccc'}">
                            </ons-col>
                            <ons-col width="68%" class="plan-right list-message" style="position:relative;" >
                                    <strong>{{msg.title}}</strong>
                                    <p ng-bind-html="msg.content | trustHtmlA"></p>
                                    <ons-carousel swipeable overscrollable auto-scroll  style="width: 100%; height:100%;position:absolute;top:0;"direction="horizontal"  >
                                      <ons-carousel-item>
                                            &nbsp;
                                      </ons-carousel-item>
                                      <ons-carousel-item >
                                        <div class="col-delete" ng-click="deleteMessage(msg,$event)"><i class="fa fa-times"></i>&nbsp;Delete </div>
                                      </ons-carousel-item>
                                    </ons-carousel>
                            </ons-col>
                        </ons-row>
                </ons-list-item>

				<ons-list-item class="plan-list" ng-show="nomessages">
					<ons-row>
					<ons-col class="person-name" >
	                No person found.
	              </ons-col>
	            </ons-row>
	          </ons-list-item>


            </ons-list>
        </ons-page>
   
 