        <ons-page  ng-controller="MessageListController">
            <ons-toolbar id="BarborderBottom">
                <div class="left">
                    <ons-toolbar-button ng-click="menuClick()"><ons-icon icon="bars"></ons-icon></ons-toolbar-button>
                </div>
                <div class="center" >{{nav.title}}</div>
  
            </ons-toolbar>
            <ons-list id="list-message" class="plan-list">
                <ons-list-item class="plan" ng-repeat="msg in messages" ng-click="openMessageDetail(msg,$event)" ng-show="msg.status<2">

                        <ons-row class="hide-del-btn">
                           
                            <ons-col width="30%"  class="plan-left">
                                <div class="plan-date" id="plan-date1" ng-bind-html="msg.last_modified | formatTime">
                                    
                                </div>
                            </ons-col>
                           
                            <ons-col width="2%" class="plan-center" ng-style="{ backgroundColor:msg.status==0 ? '#3399ff' : '#ccc'}">
                            </ons-col>
                            <ons-col width="68%" class="plan-right list-message" style="position:relative;" >
                                    <strong>{{msg.title}}</strong>
                                    <p ng-bind-html="msg.content | trustHtmlA"></p>
                                    <ons-carousel swipeable overscrollable auto-scroll  style="width: 100%; height:100%;position:absolute;top:0;"direction="horizontal"  >
                                      <ons-carousel-item>
                                            &nbsp;
                                      </ons-carousel-item>
                                      <ons-carousel-item >
                                        <div class="col-delete" ng-click="deleteMessage(msg,$event)"><i class="fa fa-times"></i>&nbsp;Delete </div>
                                      </ons-carousel-item>
                                    </ons-carousel>
                            </ons-col>
                        </ons-row>

                </ons-list-item>

<!-- 
                <ons-list-item modifier="chevron" class="plan" ng-repeat=" a in [2,3]">
                      //该属性表示重复该条信息10次 ,2,3,4,5,6,7,8,9,10-
                    <ons-row class="borderSet">
                        <ons-col width="80px" class="plan-left">
                            <div class="plan-date" id="plan-date1">
                                2015/11/12<br />
                                4:30 PM
                            </div>

                        </ons-col>
                        <ons-col width="6px" class="plan-center" ng-style="{ backgroundColor:a % 3 == 1 ? '#3399ff' : '#ccc'}">
                        </ons-col>

                        <ons-col class="plan-right">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </ons-col>
                    </ons-row>
                </ons-list-item>
                
                <ons-list-item modifier="chevron" class="plan" ng-repeat=" a in [4,5]">

                    <ons-row class="borderSet">
                        <ons-col width="80px" class="plan-left">
                            <div class="plan-date" id="plan-date1">
                                2011/8/12<br />
                                4:30 PM
                            </div>

                        </ons-col>
                        <ons-col width="6px" class="plan-center" ng-style="{ backgroundColor:a % 3 == 1 ? '#3399ff' : '#ccc'}">
                        </ons-col>

                        <ons-col class="plan-right">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </ons-col>
                    </ons-row>
                </ons-list-item>
                
                <ons-list-item modifier="chevron" class="plan" ng-repeat=" a in [6,7,8,9,10,11,12]">
                    <ons-row class="borderSet">
                        <ons-col width="80px" class="plan-left">
                            <div class="plan-date" id="plan-date1">
                                2012/10/23<br />
                                4:20 PM
                            </div>
                        </ons-col>
                        <ons-col width="6px" class="plan-center" ng-style="{ backgroundColor:a % 3 == 1 ? '#3399ff' : '#ccc'}">
                        </ons-col>

                        <ons-col class="plan-right">
                            Mount Fuji is the highest mountain in Japan and a frequent attractive subject of Japanese art.  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </ons-col>
                    </ons-row>
                </ons-list-item>
 -->

            </ons-list>
        </ons-page>
   
 