<ons-page ng-controller="ReminderEditController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Reminders</div>
        <div class="right">
            <ons-toolbar-button ng-show="isEdit" ng-click="deleteReminder();">
                <ons-icon icon="fa-trash"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list>
        <ons-list-header>Reminder</ons-list-header>
        <ons-list-item modifier="chevron" ng-click="DatePicker($event,'start')">
            Start Date
            <span class="list-item-note lucent">{{reminder.start}}</span>
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="DatePicker($event,'end')">
            End Date <ons-button style="float:right;right:120px;padding:1px auto" ng-click="clearEndDate($event,reminder)" ng-show="reminder.end">clear</ons-button>
            <span class="list-item-note lucent">{{reminder.end}}</span>
        </ons-list-item>
        <ons-list-item modifier="chevron" ng-click="DatePicker($event,'time')">
            Reminder Time
            <span class="list-item-note lucent">{{getReminderTime()}}</span>
        </ons-list-item>
        <ons-list-header>Days</ons-list-header>
        <ons-list-item modifier="tappable" ng-show="options.type==1" ng-repeat="item in daysString" ng-click="dayClick($index)">
            <label class="checkbox checkbox--list-item">
                <input type="checkbox" ng-checked="day[$index]" name="checkedDays">
                <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                {{item}}
            </label>
        </ons-list-item>
        <ons-list-item ng-show="options.type==2">
            Remind for
            <span class="list-item-note lucent"> <input type="number" min="1" ng-model="remind_for" style="width:40px"> Days</span>
        </ons-list-item>
        <ons-list-item ng-show="options.type==2">
            Skip for
            <span class="list-item-note lucent"> <input type="number" min="0" ng-model="skip_for" style="width:40px"> Days</span>
        </ons-list-item>
        <ons-list-header>Medication</ons-list-header>
        <ons-list-item ng-repeat="item in medications" modifier="tappable" ng-click="medicationClick(item);">
            <label class="checkbox checkbox--list-item label-medication">
                <input type="checkbox" ng-checked="medicationCheck(item)" name="checkedMedications">
                <div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
                {{item.drug_name}}
            </label>
        </ons-list-item>
        <ons-list-item style="padding:5px 10px;">
            <ons-button modifier="large" ng-click="save($event)">
                <span ng-show="isEdit">Save</span>
                <span ng-show="!isEdit">Add</span>
            </ons-button>
        </ons-list-item>
    </ons-list>
</ons-page>
