<ons-page ng-controller="RemindersController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Reminders</div>
        <div class="right">
            <ons-toolbar-button ng-click="addButtonClick();" id="btn-addReminder">
                <ons-icon icon="ion-plus" size="28px"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ons-list style="width:100%;">
        <ons-list-item  class="list-medication" ng-repeat="item in data" modifier="chevron" ng-click="openReminder(item)">
            <ons-row>
                <ons-col>{{item.reminder_time}}
                    <label>&nbsp;{{getTitle(item)}}</label>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <ul>
                        <li ng-repeat="med in item.dataMedications track by $index">{{med.drug_name}}</li>
                    </ul>
                </ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <div class="bg-arrow" ng-show="data.length == 0" style="height: 100%; display: -webkit-box; padding: 20px;text-align: center;padding-top: 100px;">
        <p>There are no reminders currently set, please click the plus icon to add schedule a reminder.</p>
    </div>
</ons-page>
